/* public/assets/css/style.css */

body {
    font-family: 'Poppins', sans-serif;
}

section {
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.card-project {
    transition: transform 0.3s ease;
}

.card-project:hover {
    transform: scale(1.03);
}